/* ---------------------Side Bar Start--------------------- */
.sidebar-cmp {
    width: 260px;
    border: 1px solid #ddd;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 1030;
}
.brand-logo {
    text-align: center !important;
    color: #66615b;
    font-family: Montserrat,"Helvetica Neue",Arial,sans-serif;
}
.logo-hr {
    margin-top: 0.55rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid rgba(0,0,0,.1);
    margin-left: 1rem;
    margin-right: 1rem;
}
/* ---------------------Side Bar end--------------------- */

/* ---------------------NavBar start--------------------- */
.custom-top {
    top: 0;
    right: 0;
    z-index: 1030;
    position: fixed;
    width: inherit;
    border-bottom: 1px solid #ddd;
    background-color: #f4f3ef !important;
}

.navbar.navbar-transparent a:not(.dropdown-item):not(.btn) {
    color: #66615b;
}

.navbar .navbar-brand {
    text-transform: capitalize;
    font-size: 20px;
    padding-top: .5rem;
    padding-bottom: .5rem;
    line-height: 1.625rem;
    font-family: Montserrat,"Helvetica Neue",Arial,sans-serif;
    color: #66615b;
}
/* ---------------------NavBar end--------------------- */


/* ---------------------Main Panel start--------------------- */
.main-panel {
    position: relative;
    float: right;
    width: calc(100% - 260px);
    background-color: #f4f3ef;
    transition: all .5s cubic-bezier(.685,.0473,.346,1);
}

.main-panel .content {
    padding: 0 30px 30px;
    min-height: calc(100vh - 123px);
    margin-top: 93px;
}

/* ---------------------Side Bar end--------------------- */
