<div class="wrapper">
  <div class="sidebar-cmp" data-color="white" data-active-color="danger">
      <!-- <sidebar-cmp></sidebar-cmp> -->
      <div class="sidebar">
        <div class="brand-logo"><h1>MTS</h1><hr class="logo-hr"/></div>
        <fa name="F-A Icons" size="lg"></fa>
        <ul class="nav">
          <li class="col-12">
            <a routerLink="/admin/dashboard">
              
              <p>Dashboard</p>
            </a>
          </li>
          <li class="col-12">
            <a routerLink="/admin/orders">
              <p>Ordres</p>
            </a>
          </li>
        </ul>
      </div>
  </div>
  <div class="main-panel">
      <!-- <navbar-cmp></navbar-cmp> -->
      <!-- <div class="navbar-cmp">navbar</div> -->
      <nav class="navbar navbar-expand-lg navbar-light bg-light custom-top">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
          <a class="navbar-brand" href="#">Dashboard</a>
          <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <!-- <li class="nav-item active">
              <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled" href="#">Disabled</a>
            </li> -->
          </ul>
          <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
          </form>
        </div>
      </nav>

      <div class="content">
          <router-outlet></router-outlet>
      </div>
      <!-- <footer-cmp></footer-cmp> -->
  </div>
</div>